<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resort in Batumi</title>
    <link rel="stylesheet" href="./Batumi_resort.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="./Icons/Batumi-resort-icon.png"
    />
    <script type="module" defer>
      import Vue from "https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.esm.browser.js";

      new Vue({
        el: ".wrapper-content",
        data: () => ({
          burgerMenuOpen: false,
        }),
        methods: {
          closeBurgerMenuWhenDisappearsFromView() {
            const elementCoords = this.$refs.burgerMenu.getBoundingClientRect();

            if (elementCoords.top <= -230) {
              this.burgerMenuOpen = false;
            }
          },
        },
        watch: {
          burgerMenuOpen() {
            if (this.burgerMenuOpen) {
              window.addEventListener(
                "scroll",
                this.closeBurgerMenuWhenDisappearsFromView
              );
            } else {
              window.removeEventListener(
                "scroll",
                this.closeBurgerMenuWhenDisappearsFromView
              );
            }
          },
        },
      });
    </script>
    <script defer src="./Batumi_resort.js"></script>
  </head>

  <body>
    <div class="wrapper-content">
      <header class="header">
        <h3><a href="#" class="logo">Batumi</a></h3>

        <nav class="menu">
          <ul>
            <li><a href="#wrapper-about_city">О городе</a></li>
            <li><a href="#wrapper-reasons_to_visit">Причины посетить</a></li>
            <li><a href="#what_to_try">Что попробывать</a></li>
            <li><a href="#map_block">Карта</a></li>
          </ul>
        </nav>

        <div ref="burgerMenu" class="burger-menu-wrapper">
          <svg
            class="burger-menu-icon"
            v-if="!burgerMenuOpen"
            @click="burgerMenuOpen = !burgerMenuOpen"
            viewBox="0 0 512 512"
          >
            <path
              d="M381,190.9H131c-11,0-20-9-20-20s9-20,20-20h250c11,0,20,9,20,20S392,190.9,381,190.9z"
            />
            <path
              d="M381,361.1H131c-11,0-20-9-20-20s9-20,20-20h250c11,0,20,9,20,20S392,361.1,381,361.1z"
            />
            <path
              d="M381,276H131c-11,0-20-9-20-20s9-20,20-20h250c11,0,20,9,20,20S392,276,381,276z"
            />
          </svg>

          <nav class="burger-menu">
            <ul class="burger-menu__ul" v-if="burgerMenuOpen">
              <svg
                v-if="burgerMenuOpen"
                @click="burgerMenuOpen = !burgerMenuOpen"
                ref="closeBurgerMenu"
                class="close-icon"
                viewBox="0 0 24 24"
              >
                <path
                  d="M6.22566 4.81096C5.83514 4.42044 5.20197 4.42044 4.81145 4.81096C4.42092 5.20148 4.42092 5.83465 4.81145 6.22517L10.5862 11.9999L4.81151 17.7746C4.42098 18.1651 4.42098 18.7983 4.81151 19.1888C5.20203 19.5793 5.8352 19.5793 6.22572 19.1888L12.0004 13.4141L17.7751 19.1888C18.1656 19.5793 18.7988 19.5793 19.1893 19.1888C19.5798 18.7983 19.5798 18.1651 19.1893 17.7746L13.4146 11.9999L19.1893 6.22517C19.5799 5.83465 19.5799 5.20148 19.1893 4.81096C18.7988 4.42044 18.1657 4.42044 17.7751 4.81096L12.0004 10.5857L6.22566 4.81096Z"
                />
              </svg>
              <li><a href="#wrapper-about_city">О городе</a></li>
              <li><a href="#wrapper-reasons_to_visit">Причины посетить</a></li>
              <li><a href="#what_to_try">Что попробывать</a></li>
              <li><a href="#map_block">Карта</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <div class="content">
        <main>
          <section class="preview">
            <div class="title-wrapper">
              <div class="decor-title-wrapper_one"></div>
              <div class="text_block">
                <h2 class="subtitle">Cтолица грузинской республики Аджария</h2>
                <h1 class="title">Черноморский курорт</h1>
                <button class="read_more">Читать больше</button>
              </div>
              <div class="decor-title-wrapper_two"></div>
            </div>
          </section>

          <section id="wrapper-about_city">
            <div class="about_city">
              <img
                class="img-about_city"
                src="./Img/photo_about_city/night_Batumi.png"
                alt="night_Batumi"
              />
              <div class="text-about_city">
                <h4>
                  Батуми - курортная столица Грузии с яркой ночной жизнью.
                </h4>
                <p>
                  Здесь клубам предпочитают живую музыку, домашним посиделкам –
                  встречи в барах и на побережье, фастфуду – качественную
                  органическую еду.<br />
                  Однажды подружившись с местными, ты точно влюбишься в этот
                  небольшой город.<br />
                  И хотя его можно обойти пешком за час, приключений ты найдешь
                  здесь достаточно.
                </p>
              </div>
            </div>

            <div class="about_city center_block">
              <div class="text-about_city">
                <h4>
                  За последнее десятилетие Батуми значительно поменял свой облик
                </h4>
                <p class="text-architecture">
                  Город представляет собой эклектичную смесь архитектуры,
                  начиная от очаровательных классических зданий 19 века и
                  заканчивая ультрасовременными небоскрёбами.
                </p>
              </div>
              <img
                class="img-about_city"
                src="./Img/photo_about_city/Europe_square.jpg"
                alt="Europe_square"
              />
            </div>

            <div class="about_city">
              <img
                class="img-about_city"
                src="./Img/photo_about_city/boulevard_Batumi.jpg"
                alt="boulevard_Batumi"
              />
              <div class="text-about_city">
                <h4>Батумский бульвар</h4>
                <p>
                  Батумский бульвар является одной из самых важных
                  достопримечательностей Батуми. <br />
                  Бульвар расположен в исторической части города, вдоль
                  береговой линии.<br />
                  Это потрясающая зона отдыха, длинною более 7км. <br />
                  Бульвар полон кафе, ресторанов, магазинов, детских
                  аттракционов и разнообразных красочных и танцующих фонтанов.
                </p>
              </div>
            </div>
          </section>

          <section id="wrapper-reasons_to_visit">
            <h2 class="title-reasons_to_visit">Причины посетить?</h2>
            <div class="decor_line-reasons_to_visit"></div>

            <div class="reasons_to_visit">
              <div class="reasons_block reasons_block_top" id="first_reason">
                <div class="reason_text_title">
                  <h3>1</h3>
                  <h4>Безвизовый режим</h4>
                </div>
                <p>
                  Для приезда в Батуми вам достаточно лишь загранпаспорт, а это
                  огромный плюс, особенно в незапланированном отпуске.
                </p>
              </div>
              <div class="reasons_block reasons_block_top" id="second_reason">
                <div class="reason_text_title">
                  <h3>2</h3>
                  <h4>Грузинское гостеприимство</h4>
                </div>
                <p>
                  - о нём, наверное, наслышаны все. Местные жители всегда рады
                  гостям, встречают их с улыбкой и добродушием, уделяют туристам
                  большое внимание.
                </p>
              </div>
              <div class="reasons_block reasons_block_top" id="third_reason">
                <div class="reason_text_title">
                  <h3>3</h3>
                  <h4>Всё для приятного отдыха</h4>
                </div>
                <p>
                  Чистые и зелёные улицы, рассаженные цветочки и подстриженные
                  газоны, детские площадки и удобная сетчатая планировка улиц
                  делают Батуми милым, ярким и безупречным.
                </p>
              </div>
              <div class="reasons_block" id="fourth_reason">
                <div class="reason_text_title">
                  <h3>4</h3>
                  <h4>Природные богатства</h4>
                </div>
                <p>
                  Сочетание субтропиков, тёплого моря, невероятной красоты гор,
                  озёр, водопадов, пальм и хвойных лесов придают особую
                  привлекательность Аджарии.
                </p>
              </div>
              <div class="reasons_block" id="fifth_reason">
                <div class="reason_text_title">
                  <h3>5</h3>
                  <h4>Адекватные цены</h4>
                </div>
                <p>
                  Все мы знаем какие они на курортах, но в Батуми рестораны,
                  такси и развлечения остаются по приемлемым ценам.
                </p>
              </div>
              <div class="reasons_block" id="sixth_reason">
                <div class="reason_text_title">
                  <h3>6</h3>
                  <h4>В Батуми есть на что посмотреть</h4>
                </div>
                <p>
                  Здесь не заскучаешь, всегда есть куда пойти и на что
                  посмотреть, ведь в Батуми большое количество интересных мест и
                  уголков.
                </p>
              </div>
            </div>
          </section>

          <section id="what_to_try">
            <div class="title-section-what_to_try">
              <h3>Что попробовать?</h3>
              <div class="decor_line-what_to_try"></div>
              <h4>
                Это настоящее богатство Грузии, с которым нужно обязательно
                познакомиться, путешевствуя по Батуми.
              </h4>
            </div>
            <div class="attractions_Batumi">
              <div class="attractions one">
                <p><a href="#">Природа Аджарии</a></p>
              </div>
              <div class="attractions second">
                <p><a href="#">Национальная Грузинская кухня</a></p>
              </div>
              <div class="attractions three">
                <p><a href="#">Чёрное море</a></p>
              </div>
              <div class="attractions four">
                <p><a href="#">Удивительные архитектурные сооружения</a></p>
              </div>
            </div>
          </section>

          <section class="wrapper-the_nature_of_adjara">
            <div class="the_nature_of_adjara-top_blocks">
              <div class="text-the_nature_of_adjara-top_blocks">
                <h4>
                  Аджария - удивительное место. <br />
                  Здесь царит великолепный мягкий климат и величественная
                  природа.
                </h4>
                <p>
                  Бесконечно прекрасная природа здешних мест не перестает
                  поражать
                </p>
              </div>
              <img
                class="img-the_nature_of_adjara"
                src="./Img/photo_why_to_try/sections-why_to_try/the_nature_of_adjara.jpg"
                alt="the_nature_of_adjara"
              />
            </div>

            <div class="the_nature_of_adjara-bottom_blocks">
              <img
                class="img_waterfall"
                src="./Img/photo_why_to_try/sections-why_to_try/img-waterfall.jpg"
                alt="img-waterfall"
              />
              <p class="text-the_nature_of_adjara-bottom_blocks">
                Круглый год утопающая в зелени и омываемая Черным морем, древняя
                земля, у подножия горных хребтов Малого Кавказа, необыкновенно
                красива и самобытна.
              </p>
            </div>
          </section>

          <div id="map_block">
            <h4>Карта с метками лучших мест и достопримечательностей Батуми</h4>
            <iframe
              src="https://www.google.com/maps/d/u/0/embed?mid=1Bqak0TaDeMpgsgiJGExhCoY6guolT9LL"
              class="map"
            >
            </iframe>
          </div>

          <div class="scroll_up">
            <svg class="scroll_up-svg" viewBox="-2 -2 52 52">
              <path
                class="scroll_up-svg_path"
                d=" 
               M24,0
               a24,24 0 0,1 0,48
               a 24, 24 0 0,1 0,-48
               "
              />
            </svg>
          </div>

          <footer class="footer">
            <h4>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Veritatis aspernatur quibusdam corporis repudiandae placeat ad
              saepe.
            </h4>
            <div class="decor_line-footer"></div>
            <div class="contacts">
              <a
                href="https://www.instagram.com/drkl2104/?hl=ru"
                target="_blank"
                class="social_media"
                ><img src="./Icons/svg/instagram.svg" alt="instagram"
              /></a>
              <a
                href="https://www.linkedin.com/in/elena-kuznetsova-7b46b8229/"
                target="_blank"
                class="social_media"
                ><img src="./Icons/svg/linkedin.svg" alt="linkedin"
              /></a>
              <a
                href="https://www.youtube.com/channel/UCTXDBpUTMQhyNYri7TZ-80w"
                target="_blank"
                class="social_media"
                ><img src="./Icons/svg/youtube.svg" alt="youtube"
              /></a>
              <a
                href="https://github.com/drkl151"
                target="_blank"
                class="social_media"
                ><img src="./Icons/svg/github.svg" alt="github"
              /></a>
              <a href="#" target="_blank" class="social_media"
                ><img src="./Icons/svg/facebook.svg" alt="facebook"
              /></a>
            </div>
          </footer>
        </main>
      </div>
    </div>
  </body>
</html>
